<form id="contactform" action="//formspree.io/" method="POST">
    <input type="hidden" name="_subject" value="Advertising Bon PAsku Magazine" />
    <input type="text" name="name" placeholder="Name" class=""/><br />
    <input type="text" name="name" placeholder="Company" class=""/><br />
    <input type="text" name="email" placeholder="Email" class=""/><br />
    <input type="text" name="website" placeholder="Website" class=""/><br />
    <input type="hidden" name="_next" value= />
    <input type="text" name="_gotcha" style="display:none" />
    <button type="submit" class="btn btn-primary btn-lg button">Send</button>
</form>
