<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <span class="copyright"></span>
      </div>
      <div class="col-md-3 col-md-offset-3">
        <span class="copyright"></span>
      </div>
    </div>
  </div>
</footer>

<div id="end">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <span class="copyright">Build by Marketing Curacao + Design by Marketing Curacao 2016 &copy;</span>
      </div>
    </div>
  </div>
</div>
