
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button"  class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </p>
          </button>
          <a class="navbar-brand" href="{{ site.url }}">
            <span class="ico">
              <img src="{{ site.url }}/img/flavicon.ico">
              <span class="text-logo">Proef de Penstraat</span>
            </span>
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.url }}/de-penstraat/">De Penstraat</a></li>
            <li class="dropdown">
              <a href="{{ site.url }}/restaurants/" class="dropdown-toggle" data-toggle="dropdown">Restaurants<b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li>
                      <a href="{{ site.url }}/fishalicious/">Fishalicious</a>
                  </li>
                  <li>
                      <a href="{{ site.url }}/belle-terrace/">Belle Terrace</a>
                  </li>
                  <li>
                      <a href="{{ site.url }}/seasons/">Seasons</a>
                  </li>
                  <li>
                      <a href="{{ site.url }}/avila-blues/">Avila Blues</a>
                  </li>
                  <li>
                      <a href="{{ site.url }}/serafina/">Serafina</a>
                  </li>
                  <li>
                      <a href="{{ site.url }}/rozendaels/">Rozendaels</a>
                  </li>
                  <li>
                      <a href="{{ site.url }}/mosa/">Mosa</a>
                  </li>
              </ul>
            </li>
            <li><a href="{{ site.url }}/reservations/">Reservations</a></li>
            <li class="dropdown">
              <a href="{{ site.url }}/events/" class="dropdown-toggle" data-toggle="dropdown">Events <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li>
                      <a href="{{ site.url }}/event-schedule/">Event Schedule</a>
                  </li>
                  <li>
                      <a href="{{ site.url }}/penstraat-parties/">Penstraat Parties</a>
                  </li>
              </ul>
            </li>
            <li><a href="{{ site.url }}/contact/">Contact</a></li>
            <li><a href="{{ site.url }}/blog/">Blog</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
