<form id="reviewform" action="//" method="POST">
    <input type="hidden" name="_subject" value="Contact Form" />
    <div class="col-md-6">
      <select class="form-control" placeholder="Select"><br /><br />
        <option>Fishalicious</option>
        <option>Belle Terrace</option>
        <option>Seasons</option>
        <option>Avila Blues</option>
        <option>Serafina</option>
        <option>Rozendaeles</option>
        <option>Mosa</option>
      </select>
      <input type="text" name="name" placeholder="Name" class=""/><br />
      <input type="text" name="surname" placeholder="Surname" class=""/><br />
      <input type="number" name="phone number" placeholder="Telefon" class=""/><br />
      <input type="text" name="email" placeholder="Email" class=""/><br />
      <input type="hidden" name="_next" value="//marketing-curacao.com/company/contact.html" />
      <input type="text" name="_gotcha" style="display:none" />
      <input type="text" name="time" placeholder="Day / Month / Year" class=""/><br />
      <input type="text" name="time" placeholder="Time" class=""/><br />
    </div>
    <div class="col-md-6">
      <input type="text" name="adults" placeholder="Adults" class=""/><br />
      <input type="text" name="aids" placeholder="Kids" class=""/><br />
      <input type="text" name="occassion" placeholder="Occassion" class=""/><br />
      <textarea class="form-control" rows="3" placeholder="Comments"></textarea>
      <button type="submit" class="btn btn-primary btn-lg button">Send</button>
    </div>
    <!--<input type="hidden" name="_next" value="//marketing-curacao.com/pricing" />-->
    <!--<a type="submit" class="btn btn-primary btn-lg button" href="#" role="button">Send</a>-->
</form>
