@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: 'Open Sans', serif;
  color: #777;
}
a  { color: black; }
a:hover { text-decoration: none; }
p  { font-size: 18px; font-weight: 500;}
h1 { }
h2 { font-size: 28px; }
h3 { }
h4 { font-weight: 900; text-transform: bold; }
h5 { font-size: 16px; font-weight: 500; color: #333; }

.center {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
.no-space {
  padding: 0px 0px 0px 0px;
}
.align-center {
  text-align: center;
}
.text-logo {
  font-size: 24px;
}
.ico img {
    padding-bottom: 5px;
    height: 50px;
    width: auto;
}
.navbar {
  background-color: white;
  height: 80px;
  border-bottom: 0.5px solid #ddd;
  margin-bottom: 0px;
}
.navbar-nav {
  float: right;
  margin: 20px;
  color: black;
}
.navbar-nav a {
  font-size: 16px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}
.navbar-brand {
  padding: 20px 0px;
  font-weight: 800;
}
.navbar-static-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 20;
}
.navbar-inverse {
 height: 10px;
}
.navbar-inverse<.navbar-nav {
  margin: 0px;
}
.jumbotron {
  padding-top: 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /*background-image: url("/img/banner/b1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto, cover;*/
  height: 500px;
  padding: 250px 0;
}
.jumbotron h1 {
  font-size: 36px;
}
.thumbnail {
  padding: 0px;
}
.box {
 border-top: 1px solid #ddd;
 border-bottom: 1px solid #ddd;
 border-left: 0.5px solid #ddd;
 border-right: 0.5px solid #ddd;
}
.panel {
    border-radius: 0px;
    text-align: center;
    font-size: 16px;
}
.panel-footer {
  background-color: #F3F4F2;
}
.panel-default .panel-heading {
  background-color: #F9F8E3;
}
.left-border {
  border-left: 1px solid #ddd;
}
#intro {
  padding: 20px 0px;
}
#portfolio {
  background-color: #EDD27B;
  padding: 20px 0px;
}
#events {
  padding: 20px 0px 10px;
  background-color: #EDD27B;
}
#reservation {
  padding: 20px 0px
}
#subs {
  display: block;
  width: 100%;
  color: #333;
  background-color: #EDD27B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  padding: 20px 0px
}
input {
    border: solid 2px rgba(124, 128, 129, 0.5);
    color: #333;
    margin-bottom: 10px;
    padding: 0.5em;
    width: 50%;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#contact {
  height: 120px;
  background-color: #fff;
  padding: 20px 0px
}
#contact ul {
  list-style: none;
}
#contact h5 {
  list-style: none;
  padding: 0px 15px;
}
#footer {
    background-color: #fff;
    padding: 15px 0px 0px;
}
#footer li a .fa {
  color: #333;
}
#footer li a h5{
  font-weight: 800;
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.move h5{
  margin-top: 10px;
}
.iconise {
  background-color: #333;
  border-radius: 4px;
}
#end {
  background-color: #333;
  color: #fff;
  height: 50px;
  padding: 15px 25px 10px;
}
.copyright {
  text-align: center;
}
